{% extends 'base.html' %}

{% block content %}

<form action="/admin" method="post">
<table class="table table-light table-hover table-bordered table-sm table-responsive-sm table-striped">
    <thead>
        <tr class="table-dark">
            <th class="col-sm-6">Название</th>
            <th class="col-sm-5">Описание</th>
    </tr>
    </thead>
    <tbody>
{% for row in rows %}
    <tr onclick="window.location='/admin/grp/{{ row.id }}'">
{%  for column in table_columns %}
{%   if column != 'id' %}
        <td>
            {{ row[column] }}
        </td>
{%   endif %}
{%  endfor %}
    </tr>
{% endfor %}
    <tr>
        <td>
            <input placeholder="Название объекта" class="form-control form-control-sm" type="text" id="name" name="name" required>
        </td>
        <td>
            <input placeholder="Описание" class="form-control form-control-sm" type="text" id="desc" name="desc">
        </td>
    </tr>
    </tbody>
</table>
<button type="submit" class="btn btn-sm btn-primary btn-sm">Сохранить</button>
</form>

{% endblock %}