<!DOCTYPE html>
<html lang="ru">

<head>
    <!-- Кодировка веб-страницы -->
    <meta charset="utf-8">
    <!-- Настройка viewport -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ global.title }}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous">
    </script>
    <link type="image/png" sizes="32x32" rel="icon" href="/favicon.ico">
</head>

<body class="text-dark">
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        </div>
        <div class="mx-auto order-0">
            <a class="navbar-brand mx-auto" href="/" color="red">{{ global.title }}</a>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="btn {% if 'admin' in request.url %}btn-warning{% else %}btn-outline-warning{% endif %} btn-sm" href="/admin">Админка</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid" style="margin-top: 0px;">
<!-- список групп -->
<ul class="nav nav-tabs" style="margin-bottom: 5px">
{% for group in groups %}
    <li class="nav-item" style="margin-right: 2px">
{%   if group_id == group.id %}
    <a class="nav-link active" aria-current="page" style="white-space:nowrap;" href="{% if 'admin' in request.url %}/admin/grp/{{ group.id }}{% else %}/grp/{{ group.id }}/{{ global.currentyear }}-{{ global.currentmonth }}{% endif %}">
        <b>{{ group.name }}</b>
    </a>
{%   else %}
    <a class="nav-link" style="white-space:nowrap;" href="{% if 'admin' in request.url %}/admin/grp/{{ group.id }}{% else %}/grp/{{ group.id }}/{{ global.currentyear }}-{{ global.currentmonth }}{% endif %}">
        {{ group.name }}
    </a>
{%   endif %}
    </li>
{% endfor %}
</ul>
{% if not group_id and 'admin' not in request.url %}
<div class="alert alert-warning d-flex align-items-center" role="alert">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
        class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
    </svg>
    <div>
        Выберети группу
    </div>
</div>
{% endif %}
{% block content %}{% endblock %}
</div>


</body>
</html>
