{% extends 'base.html' %}

{% block content %}
{% if table_columns.count() > 0 %}

<div class="table-responsive">
<table class="table table-hover table-sm table-striped">
    <thead>
        <tr class="table-dark">
            <th  class="col-md-1"></th>
{% for property in properties %}
            <th style="white-space:nowrap;">
                <small>{{ property['name'] }}</small>
            </th>
{% endfor %}
        </tr>
    </thead>
    <tbody>
{% for row in valdict %}
    <tr onclick="window.location='/grp/{{ group_id }}/{{ row }}'">
        <td style="white-space:nowrap;" class="table-secondary"><small>{{ row }}</small></td> <!-- столбец с датой -->
{%  for property in properties %}
{%   if valdict[row][property.id] %}
        <td><small class="text-muted">{{ valdict[row][property.id] }}{{ property.type }}</small></td>
{%   else %}
        <td><small class="text-muted">0{{ property.type }}</small></td>
{%   endif %}
{%  endfor %}
    </tr>
{% endfor %}
    <tr class="table-dark">
        <th>
            <small>Сумма</small>
        </th>
{% for property in properties %}
        <th><small>{{ sum[property.id] }}{{ property.type }}</small></th>
{% endfor %}
    </tr>
    </tbody>
</table>
</div>

<!-- Добавление новых данных -->
<p class="text-success">Введите данные</p>
<div class="row clearfix fixed-left">
    <div class="col-md-12 column">
    <form action="/grp/{{ group_id }}" method="post" class="col-md-12">
        <table class="table table-bordered table-hover">
            <tbody>
{% for column in table_columns %}
{%  if column not in ['id', 'created_on', 'updated_on'] %}
        <tr>
            <td class="col-md-1 column">
                <span class="input-group-text">{{ column.name }}</span>
            </td>
            <td class="col-md-11 column">
                <input placeholder="{{ column.name }}" class="col-md-12 form-control text-sm-left" type="number" step="0.01" id="{{ column.id }}" name="{{ column.id }}">
                <td class="column">
                    <span class="input-group-text">{{ column.type }}</span>
                </td>
            </td>
        </tr>
{%  endif %}
{% endfor %}
            </tbody></table>
        <button type="submit" class="btn btn-sm btn-primary">Сохранить</button>
    </form>
    </div>
</div>
{% else %}

<b>У объекта нет доступных свойств</b>
{% endif %}

{% endblock %}
