{% extends 'base.html' %}

{% block content %}
<table class="table table-hover table-sm">
    <thead>
        <tr>
            <th  class="col-md-1"></th>
{% for property in properties %}
            <th class="table-secondary" style="white-space:nowrap;">
                {{ property['name'] }}
            </th>
{% endfor %}
        </tr>
    </thead>
    <tbody>
{% for row in valdict %}
    <tr>
        <th class="table-secondary"><a style="white-space:nowrap;" class="btn btn-outline-success btn-sm" href="/grp/{{ group_id }}/{{ row }}">{{ row }}</a></th> <!-- столбец с датой -->
{%  for property in properties %}
{%   if valdict[row][property.id] %}
        <td>{{ valdict[row][property.id] }}</td>
{%   else %}
        <td>0</td>
{%   endif %}
{%  endfor %}
    </tr>
{% endfor %}
    <tr>
        <th class="table-secondary">
            Сумма
        </th>
{% for property in properties %}
        <td>0</td>
{% endfor %}
    </tr>
    </tbody>
</table>

<!-- Добавление новых данных -->
{% if table_columns.count() > 0 %}
<p class="text-success">Введите данные</p>
<div class="row clearfix fixed-left">
    <div class="col-md-12 column">
    <form action="/grp/{{ group_id }}" method="post" class="col-md-12">
        <table class="table table-bordered table-hover">
            <tbody>
{% for column in table_columns %}
{%  if column not in ['id', 'created_on', 'updated_on'] %}
        <tr id='addr0'>
            <td class="col-md-1 column">
                <span class="input-group-text">{{ column.name }}</span>
            </td>
            <td class="col-md-11 column">
                <input class="col-md-12 form-control text-sm-left" type="text" id="{{ column.id }}" name="{{ column.id }}" required>
            </td>
        </tr>
{%  endif %}
{% endfor %}
            </tbody></table>
        <button type="submit" class="btn btn-sm btn-primary">Сохранить</button>
    </form>
    </div>
</div>
{% else %}

<b>У объекта нет доступных свойств</b>
{% endif %}

{% endblock %}
