{% extends 'base.html' %}

{% block content %}

<table class="table table-light table-hover table-bordered table-sm table-responsive-md">
    <thead>
        <tr class="bg-primary">
            <th>Название</th>
            <th>Значение</th>
            <th>Дата занесения</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
{% for row in entries %}
        <tr>
            <td class="col-md-10">{{ row['name'] }}</td>
            <td class="col-md-1">{{ row['value'] }}{{ row['type'] }}</td>
            <td class="col-md-1">{{ row['created_on'].strftime('%Y-%m-%d %H:%M') }}</td>
            <td class="col-md-1">
                <form action="/grp/{{ group_id }}" method="post">
                    <button type="submit" name="del_entrie" value="{{ row.id }}" class="btn btn-sm btn-outline-danger">Удалить</button>
                </form>
            </td>
        </tr>
{% endfor %}
    </tbody>
</table>

{% if table_columns.count() > 0 %}
<p class="font-weight-bold">Введите данные</p>
<div class="row clearfix fixed-left">
    <div class="col-md-12 column">
    <form action="/grp/{{ group_id }}" method="post" class="col-md-12">
        <table class="table table-bordered table-hover">
            <tbody>
{% for column in table_columns %}
{%  if column not in ['id', 'created_on', 'updated_on'] %}
        <tr id='addr0'>
            <td class="col-md-1 column">
                <span class="input-group-text">{{ column.name }}</span>
            </td>
            <td class="col-md-11 column">
                <input class="col-md-12 form-control text-sm-left" type="text" id="{{ column.id }}" name="{{ column.id }}" required>
            </td>
        </tr>
{%  endif %}
{% endfor %}
            </tbody></table>
        <button type="submit" class="btn btn-sm btn-primary">Сохранить</button>
    </form>
    </div>
</div>
{% endif %}

{% endblock %}

