{% extends 'base.html' %}

{% block content %}
<h2>{{ title }}</h2>

<form action="/admin/grp/{{ group_id }}" method="post">
<table class="table table-light table-hover table-bordered table-sm table-responsive-sm table-striped">
    <thead>
        <tr class="table-dark">
            <th class="col-sm-5">Название</th>
            <th class="col-sm-4">Описание</th>
            <th class="col-sm-1">Измерение</th>
            <th class="col-sm-1"></th>
        </tr>
    </thead>
    <tbody>
{% for row in data %}
        <tr>
{%  for column in table_columns %}
{%   if column not in ['id', 'group_id'] %}
            <td>{{ row[column] }}</td>
{%   endif %}
{%  endfor %}
            <th>
                <button type="submit" name="del_property" value="{{ row.id }}" class="btn btn-sm btn-outline-danger">Удалить</button>
            </th>
        </tr>
{% endfor %}
        <tr>
            <td>
                <input type="text" name="name" placeholder="Название" class="form-control form-control-sm" />
            </td>
            <td>
                <input type="text" name="desc" placeholder="Описание" class="form-control form-control-sm" />
            </td>
            <td>
                <select class="form-control form-control-sm" type="text" id="type" name="type">
                    <option value="м²">м²</option>
                    <option value="м³">м³</option>
                    <option value="м">м</option>
                    <option value="шт.">шт.</option>
                    <option value="%">%</option>
                </select>
            </td>
            <td>
                <button type="submit" class="btn btn-sm btn-primary btn-sm">Сохранить</button>
            </td>
        </tr>
    </tbody>
</table>
</form>

{% endblock %}
