{% extends 'base.html' %}

{% block content %}
<h2>{{ title }}</h2>

<form action="/admin/grp/{{ group_id }}" method="post">
<table class="table table-light table-hover table-bordered table-sm table-responsive-sm table-striped">
    <thead>
        <tr class="table-dark">
            <th class="col-sm-5">Название</th>
            <th class="col-sm-4">Описание</th>
            <th class="col-sm-1">Измерение</th>
            <th class="col-sm-1"></th>
        </tr>
    </thead>
    <tbody>
{% for row in data %}
        <tr>
{%  for column in table_columns %}
{%   if column not in ['id', 'group_id'] %}
            <td>
                <input type="text" name="{{ row[id] }}" value="{{ row[column] }}" class="form-control form-control-sm" />
            </td>
{%   endif %}
{%  endfor %}
            <th>
                <button type="button" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal{{ row.id }}">Удалить</button>
                <!-- Далее идет описание модального окна -->
                <div class="modal fade" id="exampleModal{{ row.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Вы уверены что хотите удалить: {{ row.name }}?</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                                <button type="submit" value="{{ row.id }}" name="del_property" class="btn btn-primary">Да, удалить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </th>
        </tr>
{% endfor %}
        <tr>
            <td>
                <input type="text" name="name" placeholder="Название" class="form-control form-control-sm" />
            </td>
            <td>
                <input type="text" name="desc" placeholder="Описание" class="form-control form-control-sm" />
            </td>
            <td>
                <select class="form-control form-control-sm" type="text" id="type" name="type">
                    <option value="м²">м²</option>
                    <option value="м³">м³</option>
                    <option value="м">м</option>
                    <option value="шт.">шт.</option>
                    <option value="%">%</option>
                </select>
            </td>
            <td>
                <button type="submit" class="btn btn-sm btn-primary btn-sm">Добавить</button>
            </td>
        </tr>
    </tbody>
</table>
</form>

<form action="/admin" method="post">
    <button type="button" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal" data-bs-target="#delObject">Удалить объект</button>
    <!-- Далее идет описание модального окна для удаления объекта -->
    <div class="modal fade" id="delObject" tabindex="-1" aria-labelledby="delObjectLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="delObjectLabel">Вы уверены что хотите удалить объект: {{ title }}?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <button type="submit" value="{{ group_id }}" name="del_group_id" class="btn btn-primary">Да, удалить!</button>
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock %}
